.python-environments
GPATH
GRTAGS
GTAGS
ac-comphist.dat
auto-save-list
bootstrap.el
ede-projects.el
elpa
games
ido.last
myinit.el
projectile-bookmarks.eld
projectile.cache
recentf
samples
snippets
transient